body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.25;
  color: #000000;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.61;
  text-align: center;
  min-width: 201px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: #ff4a32;
  border-radius: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border: none;
}

.header__subtitle {
  width: 1440px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 29px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fbfbfb;
  background-color: #000000;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0 auto;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__subtitle:hover {
  color: #ff4a32;
}

.page-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 66px;
}

.header__logo {
  margin-left: 11px;
  margin-right: 125px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 22px;
}

.nav__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav__link:hover, .nav__link:focus {
  color: #ff4a32;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #ff4a32;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__icon-list {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 10px;
}

.hero {
  text-align: center;
  background-image: url(../images/hero/hero-background.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 810px;
  padding-top: 53px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.15;
  margin-bottom: 14px;
}

.hero__text {
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.hero__button:not(:last-child) {
  margin-right: 12px;
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 83px;
  background-color: #000000;
}

.companies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies__item:not(:last-child) {
  margin-right: 122px;
}

.companies__link {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 3px;
  color: #ffffff;
}

.shop {
  text-align: center;
  padding-top: 52px;
  padding-bottom: 20px;
}

.shop__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.12;
  margin-bottom: 17px;
}

.shop__text {
  margin: 0 auto;
  max-width: 685px;
  text-align: center;
}
.shop__text::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #cfcfcf;
  margin: 25px auto 44px;
}

.shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__item {
  position: relative;
}
.shop__item:not(:last-child) {
  margin-right: 20px;
}

.shop__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shop__info {
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 14px;
}

.shop__cta {
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #ffffff;
}

.city {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 736px;
  background-image: url(../images/city/city.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 44px;
}

.city__suptext {
  letter-spacing: 1px;
}

.city__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.12;
  text-align: center;
  margin: 11px auto 15px;
}

.city__subtext {
  max-width: 488px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 44px;
  padding-bottom: 45px;
  margin: 0 auto;
}

.rev__image:first-child {
  margin-right: 20px;
}

.rev__desc {
  max-width: 340px;
  margin-left: 40px;
}

.rev__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 21px;
}

.rev__text {
  line-height: 1.5;
  margin-bottom: 18px;
}

.video-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 55px auto 64px;
}

.video__item:not(:last-child) {
  margin-right: 20px;
}

.stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock__name {
  position: relative;
}

.stock__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stock__text {
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}

.stock__cta {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
}

.market::after {
  content: "";
  display: block;
  width: 100%;
  height: 66px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 2px 0px 10px rgba(41, 44, 61, 0.34);
          box-shadow: 2px 0px 10px rgba(41, 44, 61, 0.34);
  border-radius: 0px;
  margin-top: 5px;
  margin-bottom: 28px;
}

.market__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.12;
  text-align: center;
}
.market__title::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #cfcfcf;
  margin: 22px auto 42px;
}

.market__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.market__item {
  text-align: center;
}

.market__name {
  font-size: 14px;
  line-height: 1.29;
  color: #ff4a32;
  margin-top: 12px;
  margin-bottom: 3px;
}

.market__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
}

.about {
  background-color: #000000;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 35px;
  padding-bottom: 52px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100% - 280px) / 4);
}
.about__item:nol(:last-child) {
  margin-right: 70px;
}

.about__title {
  font-weight: 700;
  font-size: 31px;
  line-height: 1.16;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 25px;
}

.about__text {
  line-height: 1.5;
  color: #ffffff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
  background-color: #f7f7f7;
}

.footer__logo {
  margin-right: 240px;
}

.footer__nav {
  margin-right: 256px;
}

.footer__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.footer__link {
  font-size: 13px;
  line-height: 1.62;
}

.footer__about {
  max-width: 367px;
}

.footer__text {
  line-height: 1.5;
}

.address {
  font-style: normal;
  font-size: 13px;
  line-height: 1.62;
  color: #000000;
  margin-top: 20px;
}
.address span {
  display: block;
}

.copyright {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 130px;
  padding-right: 130px;
}

.copyright__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__item:not(:last-child) {
  margin-right: 4px;
}/*# sourceMappingURL=main.css.map */